*{
      margin:0;
      padding :0;
      box-sizing: border-box;

}

.overlay { /* esta es la caja del pop-up*/
      background-color: rgba(85,85,85,.4);
      width: auto;
      color: #fff;
      text-align: left;
      border-radius:5px;/* los bordes redondeados del pop-up*/
      padding:2px 3px;
      position:absolute;
      z-index:1;
      bottom:100%;
      left:10%;
      margin-left: -10px;	
      margin-bottom: 10px;
     }

    
.overlay.desactive { /* desaparecemos el pop-up*/
      visibility:hidden;
    }
  

.overlay #feature-additional-info::after{ /* hace que se vea el piquito del pop-up, en el punto donde se toca el mapa*/
      content: '';
      position: absolute;
      top:100%;
      left:10px;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: rgba(85,85,85,.7) transparent transparent transparent;
    }


.btn-cerrar-popup { /* tache del pop up*/
      font-size: 16px;
      line-height: 16px;
      display: block;
      text-align: right;
      color:  #fff;
       }


.btn-cerrar-popup:hover { /* cuando pasas por encima del tache del pop up cambia de blanco a negrito*/ 
      color: #000;
      }


#legende{ /*este afecta el logo del BONUM COMMUNE*/
      position: absolute; z-index: 100000;	
      bottom:0em;
      right:.001%;

    }


#legende2{ /*este afecta el logo de RAIKA pero creo que no sirve porque img afecta los dos logos y lo neutraliza, ya no recuerdo*/
      position: absolute; z-index: 100000;	
      bottom:0em;
      right:99px;
      background-color:rgba(255, 255, 255, 0.3);
  
    }


img { /*este afecta los dos logos, el del BONUM COMMUNE Y EL DE  RAIKA*/
      background-color:rgba(241, 241, 241, 0.5);	
      padding-bottom:0em;
      padding-left: 0em;
      padding-right: .1em;
      width: 7em;
      opacity: 1;	
    } 


p {  /*este <p> afecta los nombres de las parroquias del TopoJSON que contiene parroquias. colonias, estado etc 
    esta mezclado con el Topo, para el pop-up se ve bien, pero para el nombre de la parroquia en el control de capas  
    nos va a afectar	*/
      border-radius:5px;
      background:rgba(51,102,153,0.5);
      margin-top: 0px;
      margin-bottom: -15px;
      padding:10px;
      padding-bottom: 5px;
    }

  
#refrescar{ /* el boton REINICIAR*/
      opacity: 0.8;
      position: absolute; z-index: 100000;	
      top:.5em;
      right:7em;
      padding-top: 0em;
    }


#imprimir{ /* el boton IMPRIMIR*/
      opacity: 0.8;
      position: absolute; z-index: 100000;	
      top:.5em;
      right:13em;
      padding-top: 0em;
    }		


#map { /* las medidas del mapa en la pantalla*/
      width: 100%;
      height: 100vh;
    }


.ol-attribution { /*este es el letrero de Open Street Map*/
      opacity: .5;
        text-align:center;
        bottom:.5em;
        margin-right: 12.7em;
    }


html, body {  /* mato todos los margenes y paddings del htm y el body*/
         margin: 0; 
         padding: 0; 
    }


.content{ /* el letrero de ponga el dispositivo horizontal hecho con jquery*/
      opacity: 0.8;
      position: absolute; z-index: 100000;	
      top:9em;
      border-radius:10px;
      right:1em;
      padding-top: 0em;
      background-color:rgba(141, 241, 13, 0.3);
      font-family:sans-serif;
      color: blue;				
    } 


.content2{ /* el letrero de toque el cuadrito hecho con jquery*/
      opacity: 0.8;
      position: absolute; z-index: 100000;	
      top:.6em;
      border-radius:10px;
      right:2.5em;
      padding-top: 0em;
      background-color:rgba(141, 241, 13, 0.3);
      font-family:sans-serif;
      color: blue;
    }

     
.content3{ /* el letrero de toque raika hecho con jquery*/
      opacity: 0.8;
      position: absolute; z-index: 100000;	
      bottom:3.7em;
      border-radius:10px;
      right:7.3em;
      padding-top: 0em;
      background-color:rgba(141, 241, 13, 0.3);
      font-family:sans-serif;
      color: blue;
    }


    /* Barra lateral */
.barraLateral{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 200px;
      background: #11101d;
      z-index: 100;
      transition: all 0.5s ease;
}

.barraLateral.close{
      width: 50px;

}

.barraLateral .logoDetalles{
      height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-left: 10px;
}

.barraLateral .logoDetalles img{
      width:30px;
      height:30px;
      border-radius:150px;
      text-align: center;
      line-height: 50px;
}

.barraLateral .logoDetalles i{
      font-size: 30px;
      color: #fff;
      height: 50px;
      min-width: 50px;
      text-align: center;
      line-height: 50px;
}

.barraLateral .logoDetalles .nombreLogo{
      position: relative;
      font-size: 22px;
      color: #fff;
      font-weight: 600;
      left: 10px;
      transition: 0.3s ease;
      transition-delay: 0.1s;
}

.barraLateral.close .logoDetalles .nombreLogo{
      transition-delay: 0s;
      opacity: 0;
      pointer-events: none;
}

.barraLateral .enlaces{
      height: 100%;
      padding: 30px 0 150px 0;
      overflow: auto;
}

.barraLateral.close .enlaces{
      overflow: visible;
}

.barraLateral .enlaces::-webkit-scrollbar{
      display: none;
}

.barraLateral .enlaces li{
      position:relative;
      list-style: none;
      transition: all 0.4s ease;
}

.barraLateral .enlaces li:hover{
      background: #1d1b31;
}

.barraLateral .enlaces li .iconoEnlace{
      display: flex;
      align-items: center;
      justify-content: space-between;
       font-size: 18px;

}

.barraLateral.close .enlaces li .iconoEnlace{
      display:block;
}

.barraLateral .enlaces li i{
      height: 50px;
      min-width: 50px;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 18px;
      transition: all 0.3s ease;
      cursor: pointer;
}

.barraLateral .enlaces li.mostrarMenu i.flecha{
      transform: rotate(-180deg);
}  

.barraLateral.close .enlaces i.flecha{
      display:none;

}

.barraLateral .enlaces li a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
}

.barraLateral .enlaces li a .enlaceNombre{
      font-size: 18px;
      font-weight: 400;
      color: #fff;
}

.barraLateral.close .enlaces li a .enlaceNombre{
      opacity: 0;
      pointer-events: none;
}

.barraLateral .enlaces li .subMenu{
      padding: 6px 6px 14px 50px;
      margin-top: -10px;
      background: #1d1b31;
      display: none; 
}
.barraLateral .enlaces li.mostrarMenu .subMenu{
      display: block;
}
.barraLateral .enlaces li .subMenu a{
      color: #fff;
      font-size: 15px;
      padding: 5px 0;
      white-space: nowrap;
      opacity: 0.6;
      transition: all 0.3 ease;
}

.barraLateral .enlaces li .subMenu a:hover{
      opacity: 1;
}

.barraLateral.close .enlaces li .subMenu{
      position: absolute;
      /* overflow: scroll;
      height: 200px; */
      left: 100%;
      top: -10px;
      margin-top: 0;
      padding: 10px 20px;
      border-radius: 0 6px 6px 0;
      opacity: 0;
      display: block;
      pointer-events: none;
      transition: 0s;

}
.barraLateral.close .enlaces li:hover .subMenu{
      top: 0;
      opacity: 1;
      pointer-events: auto; 
      transition: all 0.4s ease;     
}

.barraLateral .enlaces li .subMenu .enlaceNombre{
      display: none;
}


.barraLateral.close .enlaces li .subMenu .enlaceNombre{
      font-size: 18px;
      opacity: 1;
      display: block;
}

.barraLateral .enlaces li .subMenu.blank {
      opacity: 0;
      pointer-events: auto;
      padding:3px 20px 6px 16px;
      opacity: 0;
      pointer-events: none;
      
}

.barraLateral .enlaces li:hover .subMenu.blank{
      top: 50%;
      transform: translateY(-50%);
}

.seccionHogar{
      position: relative;
      background: #E4E9F7;
      height: 100vh;
      left: 200px;
      width: calc(100% - 200px);
      transition: all 0.5s ease;
}

.barraLateral.close ~ .seccionHogar{
      left:50px;
      width: calc(100% - 50px);
}

.seccionHogar .contenidoHogar{
      height: 60px;
      display: flex;
      align-items: center;
      
} 

.seccionHogar .contenidoHogar .fa-bars,
.seccionHogar .contenidoHogar .texto{
      color:#11101d;
      font-size: 35px;
}

.seccionHogar .contenidoHogar .fa-bars{
      margin: 0 15px;
}

.seccionHogar .contenidoHogar .texto{
      font-size: 26px;
      font-weight: 600;
} 
