<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/987365f0a0.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">

</head>
  <body>
    <div class="barraLateral close">
      <div class="logoDetalles">
          <img src="\img\pp.jpg" alt="logo raika">
          <span class="nombreLogo">Raika</span>     
      </div>  
      <ul class="enlaces">
        <li>
          <div class="iconoEnlace">
            <a href="#">
              <i class="fa-solid fa-cross"></i> 
              <span class="enlaceNombre">Zona 1</span>
            </a>
            <i class="fa-solid fa-angle-down"></i>
          </div>
          <div>
            <ul class="subMenu close">
              <li><a class= "enlaceNombre"href="#">Zona 1</a></li>
              <li><a href="#">Polígono1</a></li>
              <li><a href="#">Polígono2</a></li>
              <li><a href="#">Polígono3</a></li>
              <li><a href="#">Polígono4</a></li>
              <li><a href="#">Polígono5</a></li>
              <li><a href="#">Polígono6</a></li>
              <li><a href="#">Polígono7</a></li>
              <li><a href="#">Polígono8</a></li>
            </ul>
          </div>
        </li>   
        <!-- zona 2 -->
        <li>
          <div class="iconoEnlace">
            <a href="#">
              <i class="fa-solid fa-church"></i> 
              <span class="enlaceNombre">Zona 2</span>
            </a>
            <i class="fa-solid fa-angle-down"></i>
          </div>
          <div>
            <ul class="subMenu close">
              <li><a class= "enlaceNombre"href="#">Zona 2</a></li>
              <li><a href="#">PolígonoA</a></li>
              <li><a href="#">PolígonoB</a></li>
              <li><a href="#">PolígonoC</a></li>
              <li><a href="#">PolígonoD</a></li>
              <li><a href="#">PolígonoE</a></li>
              <li><a href="#">PolígonoF</a></li>
              <li><a href="#">PolígonoG</a></li>
              <li><a href="#">PolígonoH</a></li>
            </ul>
          </div>
        </li> 
      </ul>    
    </div>
  </body>
</html>
