<!DOCTYPE html>
<html lang="es">

<head>
		<meta charset="utf-8" />
		<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js" type="text/javascript"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<link href="css/style.css" rel="stylesheet">
		<script src= "/js/carteles.js"></script>
		<!-- <script src= "/js/puntosYpoligonos.js"  type="module"></script> -->
		<script src= "/js/puntosYPoligonos.js"  type="module"></script>
</head>


<body>

	<div id="map"> <!-- en el script hasta abajo el target mete en este div todo lo que contiene el mapa, el mapa base y las capas   -->


		<!-- estos 3 div, abren los carteles emergentes que luego desaparecen hechos con jquery -->
			<div class="content"><h2 id="nombre11">Coloque el Dispositivo en forma Horizontal</h2></div>
			<div class="content2" style="display:none;"><h2 id="nombre11">Toque el cuadrito para Expandir &#8663;</h2></div>
			<div class="content3" style="display:none;"><h2 id="nombre11">Conozca nuestro Objetivo tocando "raika."</h2></div>

		<!-- este es el boton para REINICIAR y vuelve a cargar el sitio con este enlace <<<<< "http://www.google.com" >>>  -->
			<div id="refrescar"> <form>
				<a href="http://www.google.com" target="_parent"><button>REINICIAR  </button></a></form>
			</div>

		<!-- este es el boton de IMPRIMIR y su enlace con la pagina de instrucciones de impresion  <<<< "https://impresion.neocities.org/" >>>>  -->
			<div id="imprimir"> 
				<a href="https://impresion.neocities.org/" target="_blank"><button>IMPRIMIR</button></a>
			</div> 

		<!-- este es el logo de RAIKA <<<< "https://i.ibb.co/kgRT6Vw/logo-raika.png" >>>>  y su enlace con la pagina del objetivo <<<<< https://logoraika.neocities.org  >>>>>>  -->		
			<div id="legende2"> 
				<div  class="udiv_legende" ><a href="https://logoraika.neocities.org/"><img src="https://i.ibb.co/kgRT6Vw/logo-raika.png"  alt="logo-raika"></a></div>	
			</div>

		<!-- este es el logo del BONUM COMMUNE  -->		
			<div id="legende"> 
				<div class="udiv_legende" ><img src="https://i.ibb.co/bmZCH9x/Escudo-dorado112x112.png" alt="Escudo-dorado112x112" ></div>	
			</div>
			
		<!-- este es el pop-up  -->
			<div id="popup-content">
				<div class="overlay" id="overlay">
		
					<div id="popup-content">
						<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a><!-- esta es la tache (X) que cierra el pop-up  -->
						<span  class='overlay-text' id='feature-Name'></span ><br>		
						<span class='overlay-text' id='feature-additional-info'></span>
					</div>
		
				</div>	
			</div>
		
	</div>
	
</body>

</html>